# NeoPept Pro — Dépendances Python
# Installe avec : pip install -r requirements.txt

# --- Interface & Visualisation ---
streamlit>=1.36.0
streamlit-option-menu>=0.3.12
plotly>=5.18.0
py3Dmol>=2.0.4
# --- Science & Bioinformatique ---
biopython>=1.83
requests>=2.31.0
pandas>=2.1.0
numpy>=1.26.0

# --- Base de données ---
sqlalchemy>=2.0.0

# --- Génération de rapports ---
reportlab>=4.0.0

# --- Utilitaires ---
python-dotenv>=1.0.0
